@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

:root {
    --transition-duration: 0.25s;
    --transition-timing-function: ease-in-out;
    --text-primary-color: #252323;
    --text-secondary-color: #4B4B4B;
    --divider-color: #D8D8D8;
    --bg-primary-color: #FFFFFF;
    --bg-secondary-color: #EEF0F2;
    --cta-color: #3366FF;
    --cta-hover-color: #2B57D9;
    --accent-color: #F8D57E;
    --placeholder-color: #3B3B3B;
    --border-color: #C0C0C0;
    --button-primary-color: #FFFFFF;
    --border-radius: 8px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter;
    font-weight: 400;
    color: var(--text-secondary-color);
    background-color: var(--bg-primary-color);
}

h1,
h4 {
    color: var(--text-primary-color);
    font-weight: 600;
}

h1 {
    font-size: 26px;
    line-height: 33.8px;
}

h4 {
    font-size: 18px;
    line-height: 23.4px;
}

.b1 {
    font-size: 16px;
    line-height: 24px;
}

.b2 {
    font-size: 14px;
    line-height: 21px;
}

.b3 {
    font-size: 13px;
    line-height: 19.5px;
}

a {
    color: var(--cta-color);
    text-decoration: none;
    transition: all var(--transition-duration) var(--transition-timing-function);
}

a:hover {
    color: var(--cta-hover-color);
    cursor: pointer;
}

header {
    display: flex;
}

header>img {
    margin: 32px auto;
    width: 144px;
    height: 40px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section.hero {
    background-color: var(--bg-secondary-color);
}

.hero-content,
.products,
.socials {
    max-width: 640px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px 0;
}

.hero-content>img {
    border-radius: var(--border-radius);
    width: 640px;
    height: 293px;
    object-fit: cover;
}

.hero-content>.invite-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.invite-form>input {
    color: var(--text-secondary-color);
    font-family: Inter;
    font-size: 14px;
    width: 324px;
    height: 43px;
    padding: 0 20px;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.invite-form>input::placeholder {
    color: var(--placeholder-color);
}

.invite-form>input:focus {
    box-shadow: inset 0 0 0 2px var(--accent-color);
}

.invite-form>button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--button-primary-color);
    background-color: var(--cta-color);
    height: 45px;
    padding: 12px 24px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.invite-form>button>img {
    align-items: center;
    margin: 0 0 0 8px;
    width: 14px;
    height: 14px;
    transition: translate var(--transition-duration) var(--transition-timing-function);
}

.invite-form>button:hover {
    background-color: var(--cta-hover-color);
}

.invite-form>button:hover img {
    translate: 2px 0;
}

.products {
    margin: 32px 0;
}

.products>.blog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 32px;
}

.products .card {
    flex: 1;
    min-width: 272px;
    border: 1px solid var(--divider-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.products .portrait {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    margin: 16px;
}

.products .rectangle {
    height: 159px;
    width: 100%;
}

.products .rectangle.ultimate-guitar {
    background-color: #FFC800;
}

.products .rectangle.muse-score {
    background-color: #2E68C0;
}

.products .rectangle.audio-com {
    background-color: #EA1542;
}

.products .rectangle.audacity {
    background-color: #1D4ED8;
}

.card h4 {
    margin-bottom: 8px;
}

.card p {
    margin-bottom: 13px;
}

.card button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cta-color);
    background-color: transparent;
    padding: 8px 0;
    border: none;
    cursor: pointer;
    transition: color var(--transition-duration) var(--transition-timing-function);
}

.card button>.chevron-icon {
    background: url('../assets/icons/chevron.svg') no-repeat center center;
    align-items: center;
    margin: 0 0 0 8px;
    width: 14px;
    height: 14px;
    transition: translate var(--transition-duration) var(--transition-timing-function);
}

.portrait>button:hover {
    color: var(--cta-hover-color);
}

.portrait>button:hover .chevron-icon {
    background: url('../assets/icons/chevronHover.svg') no-repeat center center;
    translate: 2px 0;
}

.socials>p {
    margin: 24px 24px 0 24px;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 0 24px;
}

.social-icons>a>img {
    width: 24px;
    height: 24px;
    transition: transform var(--transition-duration) var(--transition-timing-function);
}

.social-icons>a:hover img {
    transform: scale(1.1);
}

footer>.additional-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 32px auto;
}